<template x-data="$store.game" x-for="(trick, trickIndex) in tricks" :key="trickIndex">
  <div class="trick">
    <template x-for="(card, cardIndex) in trick.cards" :key="cardIndex">
      <div class="card" :data-player-index="1 + (trick.leadPlayer + cardIndex) % 3"
          :class="{ 'trick-winner': trick.winningPlayer === (trick.leadPlayer + cardIndex) % 3 }"
      >
        <img :src="`../svg-cardio/svgs/${$store.settings.cardTheme}/${card.suitName}-${card.name}.svg`">
        <template x-if="$store.analysis.cardEvaluation[trickIndex][cardIndex]?.css">
          <div
              class="evaluation" :class="$store.analysis.cardEvaluation[trickIndex][cardIndex].css"
              :title="$t(`analysis.tooltips.${$store.analysis.cardEvaluation[trickIndex][cardIndex].css}`,
              $store.analysis.cardEvaluation[trickIndex][cardIndex].best?.score,
              $store.analysis.cardEvaluation[trickIndex][cardIndex].forfeitScore,
              ) || null"
          ></div>
        </template>
      </div>
    </template>
  </div>
</template>
